<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title sub-title">
        レシピ一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @cooks.each do |cook| %>
      <div class="column is-3">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                 <%= link_to cook_path(cook) do %>
                  <%= attachment_image_tag cook,:image %>
                 <% end %>
              </figure>
            </div>
                <div class="card-content">
                  <div class="is-size-6 menu-title"><%=link_to cook.title, cook_path(cook) %></div>
                </div>
             <div class="card-content">
              <div class="media">
                  <time><%= cook.updated_at.strftime("%Y-%m-%d") %></time>更新     by  <%=link_to cook.user.username, user_path(cook.user) %>
                  <div class="favorite">
                  <% if current_user.favorite_add?(cook) %>
                    <%= link_to  cook_favorites_path(cook), method: :delete do %>
                      <i class="favorite fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to cook_favorites_path(cook),method: :post do %>
                      <i class="favorite far fa-heart"></i>
                    <% end %>
                  <% end %>
                  <%= cook.favorites.count %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
